<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-2.1.1.min.js"></script>
    <script src="/javascripts/paper-full.min.js"></script>
    <script src="/javascripts/react.js"></script>
    <script src="/javascripts/JSXTransformer.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      window.socket = io();
    </script>
    <script type="text/jsx" src="/javascripts/control_port.jsx"></script>
    <script type="text/jsx" src="/javascripts/control_config.jsx"></script>
    <script type="text/jsx" src="/javascripts/control_command.jsx"></script>
    <script type="text/jsx" src="/javascripts/control_feed.jsx"></script>
    <script src="/javascripts/gcode-parser.js"></script>
    <script src="/javascripts/gcode-viewer.js"></script>
    <script>
      var viewer;

      $(function() {
        var canvas = document.getElementById('preview');
        paper.setup(canvas);
        viewer = new GcodeViewer();
      });

      socket.on("gotConfig", function(config) {
        viewer.renderPaper(config.paperWidth * 10, config.paperHeight * 10);
        viewer.setPenAngles(config.penUpAngle, config.penDownAngle); // better be ints!
      });

      socket.on("loadedGcodeFile", function(gcodeFileContents, alreadyFinishedUpToLineNumber) {
        viewer.renderDrawing(gcodeFileContents, alreadyFinishedUpToLineNumber);
      });

      socket.on("sentCommand", function(commandObject) {
        if (commandObject.line) {
          viewer.changeLineColor(commandObject.line, this.finishedLineColor);
        }
      });

      socket.on("disconnected", function() {
        viewer.clear();
      });
    </script>
  </head>
  <body>
    <div id="work-area">
      <canvas id="preview" resize></canvas>
    </div>
    <div id="controls">
      <div id="controlPort"></div>
      <div id="controlConfig"></div>
      <div id="controlCommand"></div>
    </div>
    <div id="controlFeed"></div>
  </body>
</html>
