* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #666;
}

body, input, option, button {
  font-family: 'Helvetica Neue', Geneva, sans-serif;
  font-weight: 200;
}

select {
  font-family: inherit;
}

a {
  color: #00B7FF;
}

button {
  background: #00B7FF;
  border: 0;
  font-weight: bold;
  color: #fff;
}

p {
  margin: 0;
  padding: 0;
}

#work-area {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 350px;
}

#work-area canvas {
  width: 100%;
  height: 100%;
  /* background: #222; */
}

#controlFeed {
  position: absolute;
  display: block;
  margin: 0;
  right: 0;
  bottom: 0;
  height: 240px;
  width: 350px;
  padding: 10px;
  background: #333;
  font-size: 13px;
}

.log {
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 200px;
  overflow: scroll;
  background: #222;
  color: #ccc;
}
  .log ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .log li {
    padding: 3px 3px 3px 10px;
    border-bottom: 1px dotted #444;
  }

#controls {
  position: absolute;
  right: 0;
  top: 0;
  width: 350px;
  bottom: 240px;
  color: #ccc;
}

#controls select {
  display: inline-block;
  width: 160px;
}
label.tab {
  background: black;
  font-weight: bold;
  font-size: 13px;
  padding: 0 4px;
}

.controlBlock {
  background: #999;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding: 10px;
}

.controlConfig {
}
  .controlConfig input[type="text"] {
    width: 30px;
  }

#controlFeed input[type=text] {
  width: 80px;
}
#controlFeed input[type=file] {
  display: inline-block;
  width: 150px;
}

.machineBox {
  width: 130px;
  height: 110px;
  border: 1px solid #555;
  background: rgba(255,255,255,0.5);
  position: relative;
  padding: 20px 30px;
  float: left;
  margin: 8px 50px 0 0;
}
  .machineBox .machine-width {
    position: absolute;
    top: -13px;
    margin-left: -25px;
    left: 50%;
  }
  .machineBox .machine-height {
    position: absolute;
    right: -25px;
    margin-top: -10px;
    top: 50%;
  }

.paperBox {
  border: 1px solid white;
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.7);
}
  .paperBox .paper-width {
    position: absolute;
    bottom: -13px;
    margin-left: -25px;
    left: 50%;
  }
  .paperBox .paper-height {
    position: absolute;
    left: -25px;
    margin-top: -10px;
    top: 50%;
  }



/* new clearfix: http://nicolasgallagher.com/micro-clearfix-hack/ */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

